.card {
  border: 1px solid gray;
}
.card__footer {
  background: #bebebe;
  padding: 10px;
  text-align: left;
}
.card__footer ul {
  margin: 0;
  padding: 0;
}
.card__footer ul li {
  display: inline-block;
  list-style: none;
}

.btn-simple {
  background: none;
  border: 0;
  color: blue;
}

.btn-green {
  border: 1px solid green;
  color: green;
  padding: 5px;
  border-radius: 3px;
}

.btn-red {
  border: 1px solid red;
  color: red;
  padding: 5px;
  border-radius: 3px;
}
